In [14]:
import numpy as np
import pandas as pd

import tushare as ts
import matplotlib.pyplot as plt
#正常显示画图时出现的中文和负号
from pylab import mpl
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False

from pyecharts.charts import Kline
from pyecharts import options as opts

token = 'c5cba6dd1dc9c4c3578cdd046f54dfc4119fef2aabf7f998ed9a5192'
ts.set_token(token)
pro = ts.pro_api(token)

个股行情数据：  

pro.stock_basic()  
参数：is_hs：是否沪深港通标的，N否、H沪股通、S深股通；list_status：上市状态，L上市、D退市、P暂停上市；exchange：交易所 SSE上交所，SZSE深交所，HKEX港交所。  
pro.daily(ts_code= 或 trade_date=)  
日行情：daily;周行情：weekly;月行情：monthly

In [6]:
#获取当前上市的股票代码、简称、注册地、行业、上市时间等数据
basic=pro.stock_basic(list_status='L')
basic.head(5)

     ts_code  symbol  name area industry market list_date
0  000001.SZ  000001  平安银行   深圳       银行     主板  19910403
1  000002.SZ  000002   万科A   深圳     全国地产     主板  19910129
2  000004.SZ  000004  国农科技   深圳      互联网     主板  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护     主板  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产     主板  19920427

In [8]:
pa=pro.daily(ts_code='000001.SZ', start_date='20180101',
               end_date='20190106')
pa.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20190104,9.24,9.82,9.22,9.75,9.28,0.47,5.0647,1481159.06,1422149.888
1,000001.SZ,20190103,9.18,9.33,9.15,9.28,9.19,0.09,0.9793,415537.95,384457.707
2,000001.SZ,20190102,9.39,9.42,9.16,9.19,9.38,-0.19,-2.0256,539386.32,498695.109
3,000001.SZ,20181228,9.31,9.46,9.31,9.38,9.28,0.10,1.0776,576604.00,541571.004
4,000001.SZ,20181227,9.45,9.49,9.28,9.28,9.30,-0.02,-0.2151,624593.27,586343.755

In [56]:
pa.index=pd.to_datetime(pa.trade_date)
pa=pa.sort_index()
v1=pa.loc[:,['open','close','low','high']].values.tolist()
t=pa.index
v0=list(t.strftime('%Y-%m-%d'))

In [60]:
chart1 = (Kline()
    .add_xaxis(v0)
    .add_yaxis("kline", v1)
    .set_global_opts(
        xaxis_opts=opts.AxisOpts(is_scale=True),
        yaxis_opts=opts.AxisOpts(
            is_scale=True,
            splitarea_opts=opts.SplitAreaOpts(
                is_show=True, areastyle_opts=opts.AreaStyleOpts(opacity=1)
            ),
        ),
        datazoom_opts=[opts.DataZoomOpts(pos_bottom="-2%")],
        title_opts=opts.TitleOpts(title="Kline-DataZoom-slider-Position"),
    )
    .render("k-line.html")
)